body{
margin:0;
background:#0b0f1a;
font-family:Arial;
color:white;
}

.feed-container{
max-width:600px;
margin:auto;
padding:20px;
}

.search-bar input{
width:100%;
padding:12px;
border-radius:8px;
border:none;
background:#1c2333;
color:white;
margin-bottom:20px;
}

.create-post textarea{
width:100%;
background:#1c2333;
color:white;
border:none;
border-radius:8px;
padding:10px;
height:80px;
}

.create-post button{
margin-top:10px;
padding:10px 20px;
border:none;
border-radius:6px;
background:#ff4ecd;
color:white;
cursor:pointer;
}

.post-card{
background:#151b2b;
padding:15px;
border-radius:10px;
margin-top:20px;
}

.post-header{
display:flex;
align-items:center;
gap:10px;
margin-bottom:10px;
}

.avatar{
width:35px;
height:35px;
background:#ff4ecd;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
font-weight:bold;
}

.username{
font-weight:bold;
}

.post-content{
margin-bottom:10px;
}

.post-actions{
display:flex;
gap:20px;
font-size:14px;
margin-bottom:10px;
}

.post-actions button{
background:none;
border:none;
color:white;
cursor:pointer;
}

.comment-box{
display:flex;
gap:10px;
}

.comment-box input{
flex:1;
background:#1c2333;
border:none;
border-radius:6px;
padding:8px;
color:white;
}

.comment-box button{
background:#ff4ecd;
border:none;
padding:8px 15px;
border-radius:6px;
color:white;
cursor:pointer;
}
